<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>` 
    `
        <div> 
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    
    <div fxFlex *ngIf="dreams">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let dream of dreams" [routerLink]="['/dreamdetail', dream.id]" appHighlight>
            <!--<img height="200px" src={{dream.image}} alt={{dream.name}}>-->
            <img height="200px" src="{{BaseURL + dream.image}}" alt={{dream.name}}>
            <mat-grid-tile-footer>
            <h1> {{dream.name | uppercase}} </h1>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
    </div>
   
    <div [hidden]="dreams || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>    
    
    
    
</div>
